@import "Font.css";
@import "Tabpane.css";

.addBtn {
    -fx-pref-width: 150px;
}

.manageChapterBtn {
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-font-family: 'Poppins Bold';
    -fx-font-size: 16px;
    -fx-text-alignment: center;
    -fx-text-fill: #242731;
}

.manageChapterBtn:hover {
    -fx-underline: true;
}

.table-view {
    -fx-pref-width: 1120px;
    -fx-pref-height: 380px;

    -fx-border-color: #ffffff;
    -fx-background-color: #ffffff;
}

.table-view .column-header {
    -fx-background-color: #ffffff;
    -fx-pref-height: 50px;
}

.table-view .column-header-background {
    -fx-background-color: #ffffff;
}

.column-header {
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: #000000;
}

.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.table-view .table-cell {
    -fx-pref-height: 65px;
    -fx-border-color: #00000000;

    -fx-font-family: "Roboto";
    -fx-font-size: 14px;

    -fx-text-fill: #000000;
    -fx-alignment: center;
    -fx-wrap-text: true;
}

.table-row-cell:even {
    -fx-background-color: #f7f6fe;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:odd {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:hover {
    -fx-background-color: #B8B3D7;
}

.titlePane {
    -fx-pref-width: 1122px;
    -fx-pref-height: 167px;

    -fx-background-color: rgba(98, 77, 227, 0.75);
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.titleCourseName {
    -fx-pref-width: 385px;
    -fx-font-family: 'Roboto Bold';
    -fx-font-size: 32px;
    -fx-text-fill: #ffffff;
}

.titleChapter {
    -fx-pref-width: 93;
    -fx-pref-height: 17;
    -fx-font-family: 'Montserrat';
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
}

.courseLevel {
    -fx-pref-height: 30;
    -fx-font-size: 12px;
}

.titleLine {
    -fx-stroke: #ffffff;
    -fx-stroke-width: 2px;
    -fx-border-radius: 5px;
}

.titleDescription {
    -fx-pref-width: 206px;
    -fx-pref-height: 28px;
    -fx-font-family: 'Roboto Bold';
    -fx-font-size: 24px;
    -fx-text-fill: #ffffff;
}

.titleDescriptionContent {
    -fx-pref-width: 588px;
    -fx-pref-height: 78px;
    -fx-font-family: 'Roboto';
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
    -fx-wrap-text: true;
    -fx-alignment: top-left;
}