@import "Font.css";

.editPane {
    -fx-background-color: #ffffff;
    -fx-border-width: 1px;
    -fx-border-color: #DEE2E6;
    -fx-effect: dropshadow(
            three-pass-box,
            rgba(0, 0, 0, 0.3),
            30,
            0.1,
            0,
            0
    );
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
}

.editTitle {
    -fx-font-family: 'Roboto Bold';
    -fx-font-size: 24px;

    -fx-text-fill: #000000;
}

.editSmallTitle {
    -fx-font-family: 'Roboto';
    -fx-font-size: 16px;
    -fx-text-fill: #575F6E;
}

.editNameField {
    -fx-font-family: 'Poppins Medium';
    -fx-font-size: 13px;
    -fx-text-fill: #242731;
}

.editField {
    -fx-pref-width: 298px;
    -fx-pref-height: 44px;
    -fx-padding: 0px 8px 0px 16px;
    -fx-border-width: 1px;
    -fx-border-color: #D4D4D4;
    -fx-background-color: #ffffff;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-font-family: 'Roboto Italic';
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #41414188;
}

.text-field .text {
    -fx-font-family: 'Roboto';
    -fx-prompt-text-fill: #414141;
}

.editField:focused {
    -fx-border-color: #4277FF;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

.editTextArea {
    -fx-padding: 8px;
    -fx-pref-width: 298px;
    -fx-pref-height: 118px;
    -fx-border-width: 1px;
    -fx-border-color: #D4D4D4;
    -fx-background-color: #00000000;
    -fx-focus-color: #00000000;
    -fx-faint-focus-color: #00000000;
    -fx-text-box-border: #00000000;
    -fx-background-insets: 0;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-font-family: 'Roboto Italic';
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #41414188;
    -fx-wrap-text: true;
}

.editTextArea .text {
    -fx-font-family: 'Roboto';
    -fx-text-fill: #414141;
}

.editTextArea:focused {
    -fx-border-color: #4277FF;
}


.editChooseBox {
    -fx-pref-width: 202px;
    -fx-pref-height: 44px;
    -fx-border-width: 1px;
    -fx-border-color: #D4D4D4;
    -fx-background-color: #ffffff;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-font-family: 'Roboto Italic';
    -fx-font-size: 14px;
    -fx-text-fill: #414141;
}

.editChooseBox:focused {
    -fx-border-color: #4277FF;
}

.combo-box .list-cell {
    -fx-text-fill: #41414188;
}

.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-font-family: 'Roboto';
    -fx-text-fill: #414141;
}

.submitBtn {
    -fx-padding: 14px 20px;
    -fx-pref-width: 112px;
    -fx-pref-height: 44px;
    -fx-background-color: rgba(98, 77, 227, 0.85);
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-font-family: 'Roboto Medium';
    -fx-font-size: 14px;
    -fx-text-alignment: center;
    -fx-text-fill: #F5F5F5;
}

.closeBtn {
    -fx-padding: 4px;
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-background-color: #E5E5E5;
    -fx-background-radius: 29px;
    -fx-border-radius: 29px;
}

.date-picker > .arrow-button {
    -fx-background-image: url("../image/calendar.png");
    -fx-background-size: 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.date-picker > .arrow-button > .arrow {
    -fx-opacity: 0;
}

.date-picker > .date-picker-display-node {
    -fx-background-color: transparent, white, transparent, white;
}

.editDatePicker {
    -fx-pref-width: 140px;
    -fx-pref-height: 44px;
    -fx-border-width: 1px;
    -fx-border-color: #D4D4D4;
    -fx-background-color: #ffffff00;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-font-family: 'Roboto Italic';
    -fx-font-size: 14px;
    -fx-text-fill: rgba(65, 65, 65, 0.5);
}

.editDatePicker:focused {
    -fx-border-color: #4277FF;
}

.uploadPane {
    -fx-pref-width: 295px;
    -fx-pref-height: 178px;

    -fx-background-color: #F8F8FF;
    -fx-border-color: rgba(56, 78, 183, 0.3);
    -fx-border-style: segments(5, 5);
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
}

.uploadText {
    -fx-font-family: 'Roboto Bold';
    -fx-font-size: 11px;
    -fx-text-alignment: center;
    -fx-text-fill: #483EA8;
    -fx-alignment: center;
    -fx-align-items: center;
}

.uploadText:hover {
    -fx-underline: true;
}

.uploadSupportText {
    -fx-font-family: 'Roboto Medium';
    -fx-font-size: 8px;
    -fx-text-alignment: center;
    -fx-text-fill: #676767;
    -fx-alignment: center;
    -fx-align-items: center;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-pref-width: 300px;
    -fx-pref-height: 190px;
    -fx-background-color: transparent;
}

.spinner {
    -fx-pref-width: 298px;
    -fx-pref-height: 44px;
    -fx-background-color: #ffffff;
    -fx-border-width: 1px;
    -fx-border-color: #D4D4D4;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-font-family: 'Roboto Italic';
    -fx-font-size: 14px;
}

.spinner > .text-field {
    -fx-background-color: transparent, white, transparent, white;
}
