@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Black.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-BlackItalic.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-BoldItalic.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Italic.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-LightItalic.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-MediumItalic.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-ThinItalic.ttf");
}

@font-face {
    font-family: "Maven Pro";
    src: url("../fonts/Maven_Pro/MavenPro-Black.ttf");
}

@font-face {
    font-family: "Maven Pro";
    src: url("../fonts/Maven_Pro/MavenPro-Bold.ttf");
}

@font-face {
    font-family: "Maven Pro";
    src: url("../fonts/Maven_Pro/MavenPro-Medium.ttf");
}

@font-face {
    font-family: "Maven Pro";
    src: url("../fonts/Maven_Pro/MavenPro-Regular.ttf");
}

@font-face {
    font-family: "Maven Pro";
    src: url("../fonts/Maven_Pro/MavenPro-ExtraBold.ttf");
}

@font-face {
    font-family: "Maven Pro";
    src: url("../fonts/Maven_Pro/MavenPro-SemiBold.ttf");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/Roboto_Mono/RobotoMono-Bold.ttf");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/Roboto_Mono/RobotoMono-BoldItalic.ttf");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/Roboto_Mono/RobotoMono-ExtraLight.ttf");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/Roboto_Mono/RobotoMono-ExtraLightItalic.ttf");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/Roboto_Mono/RobotoMono-Italic.ttf");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/Roboto_Mono/RobotoMono-Light.ttf");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/Roboto_Mono/RobotoMono-LightItalic.ttf");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/Roboto_Mono/RobotoMono-Medium.ttf");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/Roboto_Mono/RobotoMono-MediumItalic.ttf");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/Roboto_Mono/RobotoMono-Regular.ttf");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/Roboto_Mono/RobotoMono-SemiBold.ttf");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/Roboto_Mono/RobotoMono-SemiBoldItalic.ttf");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/Roboto_Mono/RobotoMono-Thin.ttf");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/Roboto_Mono/RobotoMono-ThinItalic.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Black.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-BlackItalic.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-BoldItalic.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-ExtraLight.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Italic.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Light.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-LightItalic.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-MediumItalic.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Thin.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-ThinItalic.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins/Poppins-Black.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins/Poppins-BlackItalic.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins/Poppins-BoldItalic.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins/Poppins-ExtraBold.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins/Poppins-ExtraBoldItalic.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins/Poppins-ExtraLight.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins/Poppins-ExtraLightItalic.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins/Poppins-Italic.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins/Poppins-LightItalic.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins/Poppins-MediumItalic.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins/Poppins-SemiBoldItalic.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins/Poppins-Thin.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins/Poppins-ThinItalic.ttf");
}

@font-face {
    font-family: Manrope;
    src: url("../fonts/Manrope/Manrope-Bold.ttf");
}

@font-face {
    font-family: Manrope;
    src: url("../fonts/Manrope/Manrope-ExtraBold.ttf");
}

@font-face {
    font-family: Manrope;
    src: url("../fonts/Manrope/Manrope-ExtraLight.ttf");
}

@font-face {
    font-family: Manrope;
    src: url("../fonts/Manrope/Manrope-Light.ttf");
}

@font-face {
    font-family: Manrope;
    src: url("../fonts/Manrope/Manrope-Medium.ttf");
}

@font-face {
    font-family: Manrope;
    src: url("../fonts/Manrope/Manrope-Regular.ttf");
}

@font-face {
    font-family: Manrope;
    src: url("../fonts/Manrope/Manrope-SemiBold.ttf");
}

@font-face {
    font-famliy: Inter;
    src: url("../fonts/Inter/Inter-Black.ttf");
}

@font-face {
    font-famliy: Inter;
    src: url("../fonts/Inter/Inter-Bold.ttf");
}

@font-face {
    font-famliy: Inter;
    src: url("../fonts/Inter/Inter-ExtraBold.ttf");
}

@font-face {
    font-famliy: Inter;
    src: url("../fonts/Inter/Inter-ExtraLight.ttf");
}

@font-face {
    font-famliy: Inter;
    src: url("../fonts/Inter/Inter-Light.ttf");
}

@font-face {
    font-famliy: Inter;
    src: url("../fonts/Inter/Inter-Medium.ttf");
}

@font-face {
    font-famliy: Inter;
    src: url("../fonts/Inter/Inter-Regular.ttf");
}

@font-face {
    font-famliy: Inter;
    src: url("../fonts/Inter/Inter-SemiBold.ttf");
}

@font-face {
    font-famliy: Inter;
    src: url("../fonts/Inter/Inter-Thin.ttf");
}

