@import "Font.css";
@import "Tabpane.css";

.manageChapterBtn {
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-font-family: 'Poppins Bold';
    -fx-font-size: 16px;
    -fx-text-alignment: center;
    -fx-text-fill: #242731;
}

.manageChapterBtn:hover {
    -fx-underline: true;
}

.nameClass {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 32px;
    -fx-text-fill: #414141;
}

.nameCourse {
    -fx-font-family: "Roboto Italic";
    -fx-font-size: 32px;
    -fx-text-fill: #414141;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-pref-width: 450px;
    -fx-pref-height: 535px;
    -fx-background-color: transparent;
}

.gridPane {
    -fx-vgap: 10;
}

.scrollPaneMaterial {
    -fx-pref-width: 660px;
    -fx-pref-height: 580px;
}

.scrollPaneAttendance {
    -fx-pref-width: 307px;
    -fx-pref-height: 462px;
    -fx-border-color: rgba(38, 39, 40, 0.61);
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
}

.titleAttendance {
    -fx-font-family: "Roboto Italic";
    -fx-font-size: 14px;
    -fx-text-fill: rgba(65, 65, 65, 0.5);
}

.absentPane {
    -fx-pref-width: 307px;
    -fx-pref-height: 100px;
    -fx-background-color: #FFFFFF;
    -fx-border-color: rgba(38, 39, 40, 0.61);
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-insets: 0;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(158, 158, 158, 0.25), 10, 0.1, 4, 4);
}

.absentText {
    -fx-font-family: "Roboto";
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-font-size: 30px;
    -fx-line-spacing: 35px;
    -fx-text-fill: #000000;
}

.absentNumber {
    -fx-pref-width: 100;
    -fx-font-family: "Roboto Mono";
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-font-size: 32px;
    -fx-line-spacing: 42px;
    -fx-text-fill: rgba(163, 13, 17, 0.7);
    -fx-alignment: center-right;
}

.totalPane {
    -fx-pref-width: 307px;
    -fx-pref-height: 100px;
    -fx-background-color: #624DE3;
    -fx-border-color: #624DE3;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-insets: 0;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(158, 158, 158, 0.5), 10, 0.1, 4, 4);
}

.totalText {
    -fx-font-family: "Roboto";
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-font-size: 30px;
    -fx-line-spacing: 35px;
    -fx-text-fill: #FFFFFF;
}

.totalNumber {
    -fx-pref-width: 100;
    -fx-font-family: "Roboto Mono";
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-font-size: 32px;
    -fx-line-spacing: 42px;
    -fx-text-fill: #FFFFFF;
    -fx-alignment: center-right;
}

.lessonLine {
    -fx-stroke: #9E9E9E;
    -fx-stroke-width: 1px;
    -fx-border-radius: 5px;
}


.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane {
    -fx-pref-width: 668;
    -fx-pref-height: 707;
}

.tab {
    -fx-font-family: 'Poppins Medium';
    -fx-font-size: 18;
    -fx-background-color: transparent;
    -fx-text-fill: #79808F;
    -fx-pref-height: 40;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}


.tab:selected .tab-label {
    -fx-text-fill: #4277FF;
}


.searchBox {
    -fx-pref-width: 228px;
}

.addBtn {
    -fx-padding: 6;
    -fx-pref-width: 28px;
    -fx-pref-height: 28px;
}

.emptyTab {
    -fx-pref-width: 668;
    -fx-pref-height: 707;
    -fx-background-color: transparent;
    -fx-font-family: "Roboto Thin Italic";
    -fx-font-size: 32;
    -fx-text-fill: #414141;
    -fx-alignment: center;
    -fx-wrap-text: true;
}