@import "Font.css";

.cardPane {
    -fx-min-width: 267px;
    -fx-min-height: 50px;
    -fx-pref-width: 267px;
    -fx-pref-height: 50px;
    -fx-max-width: 267px;
    -fx-max-height: 50px;
    -fx-background-color: #FFFFFF;

    -fx-background-radius: 10px;
    -fx-border-color: rgba(38, 39, 40, 0.61);
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
}

.cardPane:hover {
    -fx-background-color: rgba(185, 185, 185, 0.4);
}

.cardPaneSelected {
    -fx-background-color: rgba(185, 185, 185, 0.4);
}

.name {
    -fx-font-family: "Roboto";
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-font-size: 18px;
    -fx-line-height: 21px;
    -fx-text-fill: #000000;
}

.capacity {
    -fx-font-family: "Inter";
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 15px;
    -fx-line-height: 18px;
    -fx-text-fill: #1f9254;
}

.
